body, html {
  margin: 0;
  padding:0;
  font-size: 16px;
}

#pills-tabContent {
  margin-top: 12%;
}

table  { 
  border-collapse: collapse;
   width: 100%;
   }
th, td { 
  padding: 8px 16px; 
}

.tableFixHead { 
  overflow: auto; 
  height: 90vh; 
}
.tableFixHead thead th {
   position: sticky; 
   top: 0;
    z-index: 1; 
  }




/* Hide scrollbar for Chrome, safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;  /*IE and Edge */
  scrollbar-width: none; /*Firefox*/
}

@media only screen and (max-width: 840px){
#pills-tabContent {
  margin-top:38%;
}
}
  





 





 
