body, html {
  margin: 0;
  padding:0;
  font-size: 16px;
}

#pills-tabContent{
  margin-top: 8%;
}

.tableFixHead          { overflow: auto; height: 100vh; }
.tableFixHead thead th { position: sticky; top: 0; z-index: 1; }

/* Just common table stuff. Really. */
table  { border-collapse: collapse; width: 100%; }
th, td { padding: 8px 16px; }



/* .tableFixHead thead th { 
  margin-top: 90px;  
  position: sticky;
  top: 0; 
   z-index: 1;
 }
 
 .headingFixed thead th {
  margin-top: 150px; 
  position: sticky;
  top:0;
  z-index: 1;
 } */
 





 
